%h1 Listing products

%table
  %tr
    %th Name
    %th Price
    %th
    %th
    %th

  - @products.each do |product|
    %tr
      %td= product.name
      %td= product.price
      %td= link_to 'Details', product      
      %td= link_to image_tag("https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif"), product.paypal_url(product_url(:id => product.id)) 

%br